[submodule "content/bible/kjv"]
	path = content/bible/kjv
	url = https://github.com/lyteword/kjv.git
[submodule "content/bible/bsb"]
	path = content/bible/bsb
	url = https://github.com/lyteword/bsb.git
