[submodule "content/bible/kjv"]
	path = content/bible/kjv
	url = https://github.com/lyteword/kjv.git
[submodule "content/bible/bsb"]
	path = content/bible/bsb
	url = https://github.com/lyteword/bsb.git
[submodule "content/bible/web"]
	path = content/bible/web
	url = https://github.com/lyteword/web.git
[submodule "content/bible/bbe"]
	path = content/bible/bbe
	url = https://github.com/lyteword/bbe.git
[submodule "content/bible/asv"]
	path = content/bible/asv
	url = https://github.com/lyteword/asv.git
[submodule "content/bible/rv"]
	path = content/bible/rv
	url = https://github.com/lyteword/rv.git
[submodule "content/bible/ylt"]
	path = content/bible/ylt
	url = https://github.com/lyteword/ylt.git
[submodule "content/commentaries/mhenry-complete"]
	path = content/commentaries/mhenry-complete
	url = https://github.com/lyteword/mhenry-complete.git
