@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather-sans/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather-sans/MerriweatherSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
    /*--hx-text-base: 1.2rem;*/
    --hx-font-sans: "Merriweather Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
    font-variant: all-small-caps;
}

strong {
    color: var(--hx-color-primary-400);
}

.content :where(hr):not(:where([class~=not-prose],[class~=not-prose] *)):first-child {
    margin-top: calc(var(--hx-spacing) * 5);
}

.content :where(hr):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-block: calc(var(--hx-spacing) * 5);
}

.content :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    text-decoration-line: none;
}

.content :where(p):not(:where([class~=not-prose],[class~=not-prose] *)) {
    text-align: justify;
    hyphens: auto;
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .hextra-nav-container-blur {
    background-color: rgba(0, 107, 230, 0.75);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}

.content :where(blockquote):not(:where([class~=not-prose],[class~=not-prose] *)) {
    border-color: var(--hx-color-primary-300);
    color: var(--hx-color-primary-900);
}

.content :where(blockquote):not(:where([class~=not-prose],[class~=not-prose] *)):where(.dark,.dark *) {
    border-color: var(--hx-color-primary-800);
    color: var(--hx-color-primary-300);
}

.hx\:text-gray-500 {
    color: var(--hx-color-gray-700);
}

.hx\:dark\:text-neutral-400:where(.dark,.dark *) {
    color: var(--hx-color-neutral-200);
}

.hx\:dark\:text-gray-400:where(.dark,.dark *) {
    color: var(--hx-color-gray-300);
}

.mobile-toc {
   display: none;
}

@media (max-width: 768px) {
  .content :where(h2):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: unset;
  }
  .content :where(h3):not(:where([class~=not-prose],[class~=not-prose] *)) {
    font-size: unset;
  }
  .mobile-toc {
     display: inline;
  }
}

