{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "description": "{{ .Site.Params.meta.description }}"
}
</script>
{{ end }}

{{ if eq .Title "The Gospel of Jesus Christ | Faith, Forgiveness and Hope" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify }}{{ end }}",
  "url": "{{ .Permalink }}",
  "inLanguage": "en",
  "isPartOf": {
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}"
  }
}
</script>
{{ end }}
